@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NT Rappel';
  src: url('/fonts/NT-Rappel-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NT Bau Mono";
  src: url('/fonts/NT-Bau-Mono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  font-family: "NT Bau Mono", monospace;
  color: #fff;
  background-color: #161616;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'NT Rappel', 'sans-serif';
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.flex-col > .border { 
  height: 90%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff30;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff50;
}